{% extends 'homebase.html' %}
{% block content %}
    {% load static %}
    <body class="other-page" style="margin-top: 100px;">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		<!-- BANNER AREA STRAT -->
{#		<section class="bannerhead-area">#}
{#			<div class="container">#}
{#				<div class="row">#}
{#					<div class="col-md-12">#}
{#						<div class="banner-heading">#}
{#							<h1>AUTHENTICATION</h1>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</section>#}
		<!-- BANNER AREA END -->
		<!-- ACOOUNT FROM AREA START -->
		<section class="login-area">
			<div class="container">
				<div class="row">
					<div class="account-details">
						<div class="col-lg-12 col-md-12 col-sm-12" style="display: flex; justify-content: center">
							<form method="post" class="login-form" action="#" style="width: 300px">
                                {% csrf_token %}
                                <h1 class="heading-title" style="text-align: center">Đăng nhập</h1>

								<p class="form-row">
									<label>Tên đăng nhập</label>
                                    {{ login_form.username }}
								</p>
								<p class="form-row">
									<label>Mật khẩu</label>
                                   {{ login_form.password }}
								</p>

                                <p class="submit" style="text-align: center; margin-bottom: 15px;">
									<button class="" name="SubmitLogin" id="submitlogin" type="submit">
										<span><i class="fa fa-lock"></i>Đăng nhập</span>
									</button>
								</p>
                                <div style="display: flex;">
                                    <p class="lost-password form-group">Bạn chưa có tài khoản?</p>
                                    <a style="margin-left: 10px" href={% url 'register'%}>Đăng ký</a>
                                </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ACOOUNT FROM AREA END -->
		<!-- OUR BRAND AREA START -->
		<section class="our-brand-area">
			<div class="container">
				<div class="text-center">
					<div class="section-titel">
						<h3>Các đối tác của chúng tôi</h3>
					</div>
				</div>
				<div class="row blog-area">
					<div id="ourbrand-owl">
						<div class="col-md-12"><img src="{%  static 'web/img/other-pg/brand-logo-1.png' %}" alt="" /></div>
						<div class="col-md-12"><img src="{%  static 'web/img/other-pg/brand-logo-2.png' %}" alt="" /></div>
						<div class="col-md-12"><img src="{%  static 'web/img/other-pg/brand-logo-3.png' %}" alt="" /></div>
						<div class="col-md-12"><img src="{%  static 'web/img/other-pg/brand-logo-4.png' %}" alt="" /></div>
						<div class="col-md-12"><img src="{%  static 'web/img/other-pg/brand-logo-5.png' %}" alt="" /></div>
						<div class="col-md-12"><img src="{%  static 'web/img/other-pg/brand-logo-3.png' %}" alt="" /></div>
						<div class="col-md-12"><img src="{%  static 'web/img/other-pg/brand-logo-1.png' %}" alt="" /></div>
						<div class="col-md-12"><img src="{%  static 'web/img/other-pg/brand-logo-2.png' %}" alt="" /></div>
					</div>
				</div>
			</div>
		</section>
		<!-- OUR BRAND AREA END -->
		<!-- Footer Top Area Start -->
		
		<!-- all js here -->
		<!-- jquery latest version -->
        <script src="js/vendor/jquery-1.12.0.min.js"></script>
		<!-- bootstrap js -->
        <script src="js/bootstrap.min.js"></script>
		<!-- owl.carousel js -->
        <script src="js/owl.carousel.min.js"></script>
		<!-- meanmenu js -->
        <script src="js/jquery.meanmenu.js"></script>
        <!-- Nivo slider js  --> 		
		<script src="lib/js/jquery.nivo.slider.js" type="text/javascript"></script>
		<script src="lib/home.js" type="text/javascript"></script>
		<!-- count down js  -->
		<script src="js/jquery.countdown.js"></script>
		<!-- jquery-ui js -->
        <script src="js/jquery-ui.min.js"></script>
		<!-- wow js -->
        <script src="js/wow.min.js"></script>
		<!-- plugins js -->
        <script src="js/plugins.js"></script>
		<!-- main js -->
        <script src="js/main.js"></script>
    </body>
</html>
{% endblock %}