{% extends 'homebase.html' %}
{% load static %}
{%  block content %}
    <section class="shoping-cart-area" style="margin-top: 100px">
			<div class="container">
                <h3>Danh sách đơn hàng</h3>
				<div class="row">
					<div class="col-md-12">
						<div class="wishlist-table-area table-responsive">
							<table>
								<thead>
									<tr>
										<th style="font-weight: bold!important;background-color: #dedede;" class="product-name">Thứ tự</th>
                                        <th style="font-weight: bold!important;background-color: #dedede;" class="product-unit-price">Tổng tiền</th>
                                        <th style="font-weight: bold!important;background-color: #dedede;" class="product-name">Trạng thái</th>
									</tr>
								</thead>
								<tbody>
									{% for order_log in page_obj %}
									<tr>
										<td class="product-unit-price">
											<a href="{% url 'order-details-view' order_log.id %}">{{ order_log.order.id }}</a>
										</td>
										<td>
											<p>{{ order_log.order.payment }}</p>
										</td>
										<td class="product-unit-price">
											<p>{{ order_log.order_status }}</p>
										</td>
									</tr>
                                {% endfor %}

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}