.short-description-detail{
    display: flex;
    /* align-items: center; */
    align-content:center;
    margin-bottom: 50px;
}

.short-description-detail
    >table ,th, td{
        width: 1200px;
        border: 1px solid #dedede;
        text-align: center;
        }
